<div style="position: relative;  display: flex; justify-content: center; align-item: center;">
    <div style="position:absolute; bottom: 3rem;">
        <small style="text-align: center; font-size: 1.5rem; ">App Created By {{name}} 
            &copy; <script>document.write(new Date().getFullYear());</script>
        </small>
    </div>
</div>