
<div style="position:relative; bottom: 4rem; display: flex; justify-content: center; align-item: center;">
    <small style="text-align: center; font-size: 1.5rem; ">App Created By {{name}} 
        &copy; <script>document.write(new Date().getFullYear());</script>
    </small>
</div>